@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Comfortaa:wght@300..700&display=swap');


 :root {
  --black: #181818;
  --text-green:rgba(0, 189, 126, 1);
  --text-pink:#F3847C;
  --pink:#F3847C;
  --text-gray:rgba(255, 255, 255, 0.624);
 }

.container {
  display: grid;
  width: auto;
  background: #181818;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Header */
.header {
  min-width: 100%;
  background: #181818;
  height: auto;
  padding-bottom: 4px;
  background-image: linear-gradient(to bottom, #181818 0%, #181818 100%),
                    linear-gradient(to bottom, #181818 0%, var(--pink) 100%);
  background-clip: content-box, padding-box;
  font-family: "Antic Slab", sans-serif;
}

.header-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;
  margin-top:20px;
}

.header-text {
  margin-left: 10px;
}

.header-tabs {
  display: flex;
  flex-direction: row;
}

.header-tabs > .tab {
  margin: 5px;
}

/* My Profile */
.profile {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top:20px;
  margin-bottom:20px;
}


#intro {
  padding-left: 100px;
  max-width:500px;
  text-align: left;
  color:var(--text-gray);
  margin-left:15px;
}



.intro-text{
  margin-left:50px; /* Center the box horizontally */
  align-items: center; /* Center the box vertically */

}

.intro-image{
  height: 250px;
  width: 165px;
  margin-left: 130px;
  border-radius:5px;
  filter: contrast(1.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-bottom: 15px;
}
  
.intro-image:hover {
  border-radius: 5px;
  transform: scaleX(1.5) scaley(1.5);
  border-color: var(--pink);
  box-shadow: 0 0px 10px var(--pink);
}

  


.socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socials-tab {
  border-right: 1px solid var(--pink);
  border-left: 1px solid var(--pink);
  padding: 5px;
}

.socials-container > .socials-tab {
  margin-left: 5px;
  margin-right: 5px;
}

/* Main Content */
.main-content {
  min-width: 100%;
  align-items: center;
  text-align: center;
}

.main-content-holder {
  margin: 100px auto;
  max-width: 800px;
}

body > footer {

  min-width: 100%;
  max-width: 100%;
  background: var(--pink);
  height: auto;

}

.content-text {
  text-align: justify;
  width: 30%;
  margin: 60px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-image {
  width: 40%;
}

/* General Stuff */
body {
  background-color: var(--black);
  margin: 0px auto;
  height: auto;
  font-family: "Comfortaa", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color:var(--text-gray);
}

footer {
  background-color: #181818;
  text-align: center;
  min-width: 100%;
}

body > h2, h4, h5, h6 {
  font-family: "Antic Slab", sans-serif;
  color:var(--text-gray)

}

h4,h1, h3 {
  color: var(--pink);
  margin: 2px;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--pink);
}

a:hover {
  text-decoration: underline;
  background-color: hsla(160, 100%, 37%, 0.2);
}

a:active {
  text-decoration: underline;
  color: var(--pink);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .header-holder {
    flex-direction: column; /* Stack header elements vertically */
  }

  .header-tabs {
    flex-direction: column; /* Stack tabs vertically */
  }

  .main-content-holder {
    margin: 20px; /* Reduce margins for smaller screens */
    width: 90%; /* Use more width on smaller screens */
  }

  .content-text {
    width: 90%; }}

    .appcontent img {
      width: 100px;
      height: auto; 
  }

li {
  color: var(--text-gray);
}

a,
.green {
  text-decoration: none;
  color: var(--pink);
  transition: 0.4s;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

a,
.green {
  text-decoration: none;
  color: var(--pink);
  transition: 0.4s;
  padding: 3px;
}

span{
  color:var(--pink)
}

.text-animation{
  font-size:34px;
  font-weight:600;
  min-width:280px;
  }
  .text-animation span{
    position:relative
  }
  .text-animation span::before{
    content:"Education";
    color:var(--pink);
    animation: words 20s infinite;
  }

  .text-animation span::after{
    content:"";
    background-color: var(--black);
    position:absolute;
    width: calc(100% + 8px)
  }